body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000033;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

a {
    color: #4990E2;
    text-decoration: none;
}

.header {
    background-color: #000;
}

.header-image {
    display: block;
    margin: auto;
    width: 950px;
}

.toggle-menu-button {
    display: none;
}

.toggle-menu-icon {
    position: relative;
    height: 6px;
    width: 35px;
    border: none;
    border-radius: 3px;
    background-color: #D8D8D8;
}

.toggle-menu-icon::after {
    content: '';
    position: absolute;
    top: 12px;
    height: 6px;
    width: 35px;
    border: none;
    border-radius: 3px;
    background-color: #D8D8D8;
}

.toggle-menu-icon::before {
    content: '';
    position: absolute;
    top: -12px;
    height: 6px;
    width: 35px;
    border: none;
    border-radius: 3px;
    background-color: #D8D8D8;
}

.body {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

/* Needed in order to force a break for the callout */
.body::after {
    content: '';
    display: block;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
}

.nav-menu-container {
    background-color: #336699;
    height: 30px;
    padding: 3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}

.nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 946px;
    padding: 2px;
    margin: 0 auto;
    background-color: #174E6A;
}

.nav-menu-button {
    background-color: #007CB9;
    width: 180px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 180px;
    flex: 0 0 180px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

a.nav-menu-button {
    text-decoration: none;
    color: #FFF;
    font-size: 13px;
    font-weight: 600;
}

.sidebar {
    background-color: #EDEDED;
    padding: 20px 15px 0;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 200px;
    flex: 0 0 200px;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    border: 10px solid #336699;
    border-right-width: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-line-pack: start;
    align-content: flex-start;
}

.sidebar-callout {
    font-weight: 600;
    margin-bottom: 0;
}

.sidebar-locations {
    margin-bottom: 0;
}

.sidebar-office {
    padding-bottom: 15px;
    border-bottom: 1px solid #979797;
}

.content {
    background-color: #FFFFFF;
    width: 620px;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    padding: 35px 40px;
    border: 10px solid #336699;
    border-left-width: 0;
}

.content-image {
    width: 620px;
}

.caption {
    text-align: center;
    margin: 0 auto 50px;
    font-weight: 600;
}

.bottom-callout {
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5;
    display: block;
    width: 926px;
    background-color: #FFFFFF;
    border: 10px solid #336699;
    border-top-width: 0;
    padding: 2px;
    text-align: center;
    font-weight: 600;
}

.footer {
    font-family: Calibri, serif;
    background-color: #EDEDED;
    padding: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-width: 940px;
}

a.footer-link {
    font-size: 12px;
    font-weight: 600;
    color: #000;
    padding: 0 3px;
}

@media (max-width: 949px) {
    .header-image {
        width: 100%;
    }

    .nav-menu-container {
        height: auto;
        -webkit-box-flex: 1;
        -ms-flex: 1 0 150px;
        flex: 1 0 150px;
        padding: 0;
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }

    .nav-menu {
        width: 100%;
        padding: 0;
        -ms-flex-line-pack: start;
        align-content: flex-start;
    }

    .nav-menu-button {
        width: 100%;
        -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
        height: 40px;
        margin-top: 5px;
    }

    .sidebar {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
        height: 200px;
        border: none;
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
    }

    .sidebar-callout {
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
    }

    .sidebar-locations {
        width: 100%;
        text-align: center;
    }

    .sidebar-office {
        padding: 0;
        border: none;
    }

    .sidebar-office-name {
        display: none;
    }

    .google-maps {
        display: none;
    }

    .content {
        border: none;
        padding: 0 0 25px;
        -webkit-box-flex: 10;
        -ms-flex-positive: 10;
        flex-grow: 10;
        -ms-flex-preferred-size: 500px;
        flex-basis: 500px;
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }

    .content-image {
        width: 100%;
    }

    .content-padding {
        padding: 0 30px;
        margin: auto;
    }

    .caption {
        text-align: center;
        margin: 0 auto 50px;
        font-weight: 600;
    }

    .bottom-callout {
        display: none;
    }

    .footer {
        min-width: inherit;
    }
}

@media (min-width: 650px) {
    .nav-menu-container {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
    }
}

@media (max-width: 649px) {
    .header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .header-image {
        max-width: calc(100% - 65px);
        height: 65px;
    }

    .toggle-menu-button {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 65px;
        flex: 0 0 65px;
        -ms-flex-item-align: stretch;
        align-self: stretch;
        background-color: #F9F9F9;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .nav-menu-container {
        display: none;
        position: absolute;
        width: calc(100% - 50px);
        height: 100%;
        background-color: #F8F8F8;
        padding: 0 25px;
    }

    .nav-menu {
        background-color: transparent;
    }

    a.nav-menu-button {
        background-color: transparent;
        color: #000;
        font-size: 14px;
        border-bottom: 1px solid #979797;
    }

    .sidebar {
        height: auto;
    }

    .sidebar-office {
        width: 100%;
        text-align: center;
    }
}